:root {
	--primary-color: #ffffff;
	--secondary-color: #030C43;
	--text-color: #030C43;
	--background-color: #030C43;
	--hover-background-color: #005ed0;
	--hover-secondary-color: #005ed0;

	--footer-background-color: #030C43;
	--footer-text-color: #ffffff;
	--footer-social-background: #ffffff;
	--footer-social-text: #030C43;
}

[data-theme="dark"] {
	--primary-color: #121212;
	--secondary-color: #ffffff;
	--text-color: #ffffff;
	--background-color: #ffffff;
	--hover-background-color: #c7c7c7;
	--hover-secondary-color: #6BA8E6;

	--footer-background-color: #121212;
	--fotter-text-color: #ffffff;
	--footer-social-background: #ffffff;
	--footer-social-text: #121212;
}

#theme-toggle {
	background-color: var(--secondary-color);
	color: var(--primary-color);
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 20px;
	transition: background-color 0.3s ease, color 0.3s ease;
}

#theme-toggle:hover {
	background-color: var(--hover-background-color);
	color: var(--primary-color);
}

.navbar {
	background-color: var(--primary-color);
	color: var(--text-color) !important;
}

.nav-link .bi-cart3{
	color: var(--text-color) !important;
}

.nav-link.page {
	color: var(--secondary-color);
	width: max-content;
	position: relative;
}

.nav-link.page:hover::after {
	content: '';
	background-color: var(--text-color);
	height: 2px;
	position: absolute;
	border-radius: 20px;
	bottom: -2px;
	left: 0;
	animation: erase-width 0.3s ease forwards;
}

.nav-link.active {
	color: var(--secondary-color) !important;
}

.nav-link.active::after {
	content: '';
	background-color: var(--text-color);
	height: 2px;
	position: absolute;
	border-radius: 20px;
	bottom: -2px;
	left: 0;
	width: 100%;
}

.nav-link-button {
	margin-bottom: 5px;
}

@keyframes erase-width {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

.login-button {
	background-color: var(--secondary-color);
	border: none;
	color: var(--primary-color);
	padding: 10px 30px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	border-radius: 40px;
	transition: background-color 0.3s ease;
}

.login-button:hover {
	background-color: var(--hover-secondary-color);
	color: var(--primary-color);
}

.profil-button {
	background-color: var(--secondary-color);
	border: none;
	color: var(--primary-color);
	padding: 10px 30px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	border-radius: 40px;
	transition: background-color 0.3s ease;
}

.profil-button:hover {
	background-color: var(--hover-background-color);
	color: var(--primary-color);
}

.logout-button {
	background-color: #D9534F;
	border: none;
	color: white;
	padding: 10px 30px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	border-radius: 40px;
	transition: background-color 0.3s ease;
}

.logout-button:hover {
	background-color: #C9302C;
	color: white;
}

.login-bi {
	margin-left: 5px;
}

.logout-bi {
	margin-left: 5px;
}

footer {
	background-color: var(--footer-background-color);
	color: var(--footer-text-color);
	height: 250px;
	justify-content: center;
	display: flex;
	align-items: center;
}

.social-button {
	background-color: var(--footer-social-background);
	color: var(--footer-social-text);
	border: none;
	color: var(--text-color);
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	margin-right: 10px;
	transition: background-color 0.3s ease;
}

.social-button:hover {
	background-color: var(--hover-background-color);
}

.social-bi {
	color: var(--footer-social-text);
}

.second-nav-link.page {
	color: var(--secondary-color);
	width: max-content;
	position: relative;
}

.second-nav-link.page:hover::after {
	content: '';
	background-color: var(--text-color);
	height: 2px;
	position: absolute;
	border-radius: 20px;
	bottom: -2px;
	left: 0;
	animation: erase-width 0.3s ease forwards;
}

.second-nav-link.page.active::after {
	content: '';
	background-color: var(--text-color);
	height: 2px;
	position: absolute;
	border-radius: 20px;
	bottom: -2px;
	left: 0;
	width: 100%;
}

.nav-link-button {
	margin-bottom: 5px;
}