.nav-link.page {
	color: #030C43;
	width: max-content;
	position: relative;
}

.nav-link.page:hover::after {
	content: '';
	background-color: #030C43;
	height: 2px;
	position: absolute;
	border-radius: 20px;
	bottom: -2px;
	left: 0;
	animation: erase-width 0.3s ease forwards;
}

.nav-link.active::after {
	content: '';
	background-color: #030C43;
	height: 2px;
	position: absolute;
	border-radius: 20px;
	bottom: -2px;
	left: 0;
	width: 100%;
}

.nav-link-button {
	margin-bottom: 5px;
}

@keyframes erase-width {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

.login-button {
	background-color: #030C43;
	border: none;
	color: white;
	padding: 10px 30px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	border-radius: 40px;
	transition: background-color 0.3s ease;
}

.login-button:hover {
	background-color: #0A1D6E;
	color: white;
}

.profil-button {
	background-color: #030C43;
	border: none;
	color: white;
	padding: 10px 30px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	border-radius: 40px;
	transition: background-color 0.3s ease;
}

.profil-button:hover {
	background-color: #0A1D6E;
	color: white;
}

.logout-button {
	background-color: #a20c0c;
	border: none;
	color: white;
	padding: 10px 30px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	border-radius: 40px;
	transition: background-color 0.3s ease;
}

.logout-button:hover {
	background-color: #d50707;
	color: white;
}

.login-bi {
	margin-left: 5px;
}

.logout-bi {
	margin-left: 5px;
}

footer {
	background-color: #030C43;
	color: white;
	height: 250px;
	justify-content: center;
	display: flex;
	align-items: center;
}

.social-button {
	background-color: #06178a;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	margin-right: 10px;
	transition: background-color 0.3s ease;
}

.social-button:hover {
	background-color: #0d34e6;
}

.second-nav-link.page {
	color: #030C43;
	width: max-content;
	position: relative;
}

.second-nav-link.page:hover::after {
	content: '';
	background-color: #ffffff;
	height: 2px;
	position: absolute;
	border-radius: 20px;
	bottom: -2px;
	left: 0;
	animation: erase-width 0.3s ease forwards;
}

.second-nav-link.page.active::after {
	content: '';
	background-color: #ffffff;
	height: 2px;
	position: absolute;
	border-radius: 20px;
	bottom: -2px;
	left: 0;
	width: 100%;
}

.nav-link-button {
	margin-bottom: 5px;
}