.detail-container {
	width: 100vw;
}

.btn.active {
    border: 3px solid #706c6c;
    transform: scale(1.1);
}

.btn-couleur {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #ccc;
}

.btn-couleur.active {
    transform: scale(1.3);
    border: 2.5px solid #706c6c;
}