.events-container {
	width: 100vw;
    overflow-x: auto;
    margin-bottom: 100px;
    height: 80vh;
    margin-bottom: 100px;
}

.container {
    max-height: 70vh;
    margin-bottom:100px;
    width: 100%;
}

.table .ellipsis-td {
	max-width: 150px;
	height: auto;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 0.9rem;
}

@media screen and (max-width: 768px) {
	.table .ellipsis-td {
		max-width: 20px;
		text-overflow: ellipsis;
	}
}

@media screen and (max-width: 480px) {
	.table .ellipsis-td{
		max-width: 20px;
		text-overflow: ellipsis;
	}
}