.products-container {
	width: 100vw;
	overflow-x: auto;
	margin-bottom: 100px;
	height: 80vh;
	margin-bottom: 100px;
}

.container {
	max-height: 70vh;
	margin-bottom:100px;
	width: 100%;
}

.add-products-button {
	background-color: #030C43;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	margin-left: 10px;
}

.add-products-button:hover {
	background-color: #06178a;
	color: white;
}

.bi-create-products {
	margin-left: 10px;
}

.btn-modifier {
	background-color: #030C43;
	color: white;
}

.btn-modifier:hover {
	background-color: #06178a;
	color: white;
}

.btn-supprimer {
	background-color: #a20c0c;
	color: white;
}
.btn-supprimer:hover {
	background-color: #d50707;
	color: white;
}