.users-container {
	width: 100vw;
	overflow-x: auto;
	margin-bottom: 100px;
	height: 80vh;
	margin-bottom: 100px;
}

.container {
	max-height: 70vh;
	margin-bottom:100px;
	width: 100%;
}

.btn-modifier {
	background-color: #030C43;
	color: white;
}

.btn-modifier:hover {
	background-color: #06178a;
	color: white;
}

.btn-supprimer {
	background-color: #a20c0c;
	color: white;
}
.btn-supprimer:hover {
	background-color: #d50707;
	color: white;
}

.btn-research {
	background-color: #030C43;
	color: white;
}

.btn-research:hover {
	background-color: #06178a;
	color: white;
}