{% extends '_template/base.html.twig' %}

{% block css %}
<link rel="stylesheet" href="/assets/css/login.css">
{% endblock %}

{% block body %}
<div class="login-container">
	
	<form method="post" action="login.php" class="container p-4 border rounded shadow mt-4" style="max-width: 500px;">
		<!-- Message d'erreur à afficher si besoin -->
		{% if error %}
		<div class="alert alert-danger text-center" role="alert">
			{{ error }}
		</div>
		{% endif %}
		<h2 class="text-center mb-4">Connexion</h2>

		<div class="mb-3">
            <label for="email" class="form-label">Adresse email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Mot de passe</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>

        <button type="submit" class="btn btn-primary w-100">Se connecter</button>
		<div class="text-center mt-3">
			<a href="/signUp.php" class="btn btn-outline-primary w-100">S'inscrire</a>
		</div>
    </form>
</div>
{% endblock %}